body {
	font-size: 13px;
	line-height: 18px;
	background-color: #E1EFF0; /*#E0EBE7;*/
}
p a{
	text-overflow: ellipsis;
}
body .modal-slim {
  width: 35%; /* desired relative width */
  left: 37%; /* (100%-width)/2 */
  margin-left:auto;
  margin-right:auto; 
}
body .modal-thick {
  width: 50%; /* desired relative width */
  left: 10%; /* (100%-width)/2 */
  margin-left:auto;
  margin-right:auto; 
}
h1,h2,h3,h4,h5,h6 {
	margin: 0 0 0 0;
}
.gb-input-large {
  height: 50px !important;
  margin-bottom: 5px !important;
  line-height: 30px !important;
  padding: 10px 10px !important;
  font-size: 18px !important;
  -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

img {
	width:100%;
	height :100%;
}
.gb-puntos-icon {
	height:20px;
	width :20px;
}
.gb-img-logo-login {
	width:220px;
	height:45px;
	margin:6px 5px 15px 0px;
}
.gb-img-logo {
	width:160px;
	height:32px;
	margin:0px 5px 2px 0px;
}
textarea { 
	resize: none; 
}
a {
	cursor:pointer;
	color:#1C5C76;
}
a:hover {
	color:#427FED;
}
.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.2;
}
.tab-content,
.dropdown-menu { 
	z-index:51;
	overflow: visible;
}
.rm-white-btn {
	display:block;
	background-color:#fff;
	border:black 1px solid;
	width:200px;
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: right;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	cursor: pointer;
	border: 1px solid #bbbbbb;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.rm-dark-blue-btn {
	display:block;
	background-color:#576167;
	border:black 1px solid;
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	font-weight:bold;
	line-height: 20px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	cursor: pointer;
	border: 1px solid #bbbbbb;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.rm-dark-blue-btn:hover {
	color: #444;
	background-color:#eeeeee;
}
.img-post {
	width:60px;
	height:50px;
}
.img-friend-preview {
	width:25px;
	height:25px;
	padding-right:3px;
	padding-bottom:3px;
}
.rm-navbar {
	margin-bottom:0px;
}
.rm-navbar .brand {
	padding:5px 100px 0px 100px;
}
.gb-dark-background,
.navbar-inner {
	background-color:#2c475e;
	/* background-color: #a4b9cc; */
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}
.navbar-small {
	height: 30px;
}
.navbar .nav{
	padding-top:5px;
	padding-bottom:0px;
}
.navbar .nav > li > a {
	text-shadow: none;
	color:  #fff;
	/* font-weight:bold;
	 font-size:1.3em;*/
}
.navbar .nav > li > img {
	height:30px;
	width:40px;
}
.rm-img-symbol{
	padding-top:0px;
}
.rm-img-symbol img{
	margin:0px;
	height:30px;
	width:35px;
}
.rm-img-symbol-big img{
	margin:0px;
	padding:0px;
	height:60px;
	width:65px;
}
.rm-active {
	border-top: #aaaaaa 1px solid;
	border-left: #aaaaaa 1px solid;
	border-right: #aaaaaa 1px solid;
}
.rm-active a, 
li .active a{
	color:#000;
	font-weight:bold;
}
.rm-active a:hover {
	text-decoration:none;
}


/*-----------Login-Register -----*/
.gb-container-fluid {
	margin-top:50px;
}
#rm-header a{
	color:#fafffb;
	margin-top:1px;
	font-weight:bold;
}
#rm-header a:hover {
	color:#dadbee;
}




.rm-login-heading img {
	margin-top:10px;
	margin-left:10px;
	width:180px;
	height:50px;
}
.rm-login-heading h3 {
	margin-top:15px;

}
.tft-red-bottom-1 {
	border-bottom: #b90000 2px solid;
}
.tft-red-bottom-2 {
	border-bottom: #b90000 5px solid;
}
.tft-red-bottom-3 {
	border-bottom: #b90000 10px solid;
}
.tft-grey-bottom-1 {
	border-bottom: #7e7e7e 2px solid;
}
.tft-grey-bottom-2 {
	border-bottom: #7e7e7e 5px solid;
}
.tft-grey-bottom-3 {
	border-bottom: #7e7e7e 10px solid;
}
.tft-red-link a:hover {
	color:#990000;
	text-decoration:underline;
}
.rm-right-border {
	border-right:#aaaaaa solid 1px;
}
.rm-left-right-border {
	border-right:#aaaaaa solid 1px;
	border-left:#aaaaaa solid 1px;
}
.rm-top-bottom-border {
	border-top:#aaaaaa solid 1px;
	border-bottom:#aaaaaa solid 1px;
}
.rm-row {
	overflow:hidden;
	margin-left:1px;
	margin-right:1px;
	padding:0px;
}
.rm-container {
	margin-top: 0px
}
.rm-nav {
	margin-bottom:0px;
	padding:0px;
}

.rm-bottom-border{
	border-bottom:#456789 solid 1px;
}
.rm-green-border{
	border:#56789a solid 1px;
}

.rm-welcome-banner {
	margin-top:0px;
	margin-bottom:5px;
	background-color: #fff;
}
.rm-welcome-banner li{
	text-align:left;
	margin-right:0px;
	padding:0px;
	border-left:#eeeeee solid 1px;
	border-right:#eeeeee solid 1px;
}
.rm-welcome-banner a {
	color:#000;
}
.rm-welcome-banner > .rm-tour ul li{
	font-size:1.3em;
}
.rm-nav-quickstart {
	border-left:#cccccc solid 1px;
	border-right:#cccccc solid 1px;
}
.rm-nav-quickstart ul li{
	width:120px;
}
.rm-nav-quickstart ul li:hover{
	background-color: #fafafa;
}
.rm-nav-quickstart p{
	background-color:#596167;
	color:#fff;
	font-weight:bold;
	font-size:1.3em;
	padding:3px;
	margin:0px;
}
.rm-welcome-nav {
	margin-left:0px;
	background-color:#fff;
	max-height: 40px;
	border-bottom:#789abc solid 1px;
}
.rm-welcome-nav img{
	height: 38px;
	width:45px;
}
.rm-content {
	background-color:#e7eef8;
}

.rm-post-input {
	overflow:visible;
	background-color:#f5f5f5;
	margin-bottom:5px;
}
.rm-post {
	background-color:#fff;
	padding:5px;
	border-bottom:#abcdef solid 1px;
}
.rm-post-text {
	padding-left:10px;
}

.rm-borderless {
	border-width:0px;
}
.rm-overflow-hidden {
	overflow:hidden;
}
.rm-friends-preview li{
	margin-top:5px;
	border-bottom:#789abc solid 1px;
}
#tft-home-tabs a{
	color:black;
	font-weight:bold;
	font-size:1.1em;
}

.tft-head {
	border-right: 1px solid #a5a294;
	border-bottom: 3px solid #a5a294;
	background-color:#ededed;
	font-size:1.1em
}
.tft-tab-header {
	padding-left: 20px;
	background-color:#f0f0f0;
}
.tft-form-container {
	margin:0px;
	padding-left:0px;
	background-color:#fcfcfc;
}
.tft-dropdown-container {
	max-height:200px;
	overflow:auto;
}

.tft-family-toggle {
	text-align:left;
	height:10px;
}
.tft-family-select {
	float:left;
	margin-left:5px;
}
#search-results {
	margin-left:30px;
	background-color:#fff;
}
.tft-label-result {
	margin-top:10px;
	margin-right:20px;
}
.tft-page-container {
	margin-top:2px;
	margin-bottom:2px;
}

.tft-result-container {
	padding:10px;
}

/*=======PROFILE=======*/

.rm-profile-name-header h3{
	padding: 1px 0px 2px 1px;
	margin-bottom: 2px;
}
.rm-stats {
	overflow:hidden;

}
.rm-stats:hover {
	background-color:#f8f8ff;
	color:#456789;
	text-decoration:none;
}
.rm-stats p {
	font-size:0.7em;
}
.rm-stats p, 
.rm-stats h1{
	text-align:center;
	margin:1px;
	padding:1px;
}
.rm-name-header {
	background-color:#fff;
	max-height: 40px;
	padding-bottom:5px;
}
.rm-goal-preview {
	background-color:#c9cacd;
	border-top:#789abc solid 1px;
	height: 120px;
	margin-bottom:5px;
	overflow:auto;
}
.rm-goal-preview small {
	color:#000;
}
.rm-goal-preview:hover {
	background-color:#87888a;
}

/*LOGIN NAV*/
.gb-login-row {
	background-image:url('../img/login_background.png');
	-webkit-background-size: cover; /*for webKit*/
	-moz-background-size: cover; /*Mozilla*/
	-o-background-size: cover; /*opera*/
	background-size: cover; /*generic*/
	padding:20px 20px 20px 20px;
}
.gb-product-info-box {
	padding:0px 5px 5px 5px;
	border:#f0f0f0 groove 10px;
	background-color: #fff;
	overflow:hidden;
}
.gb-product-info-box li {
	margin-bottom:10px;
	border-bottom:#00b0f0 solid 1px;
}
.gb-login-container {
	padding:0px 5px 5px 5px;
	overflow:hidden;
}
.gb-login-heading {
	margin-bottom:10px;
	border-bottom:#dadada groove 4px;
}

.gb-font-small {
	font-size:1.1em;
}
.gb-font-medium {
	font-size:1.5em;
}
.gb-icon-center {
	margin-top:5px;
}
.gb-login-nav {
	padding:20px 100px 15px 5px;
	margin-bottom:10px;
}
.gb-login-btn {
	margin-top:10px;
	height: 50px;
	line-height: 50px;
	font-size:1.2em;
}
.gb-light-blue-btn{
	background-color:#2674ec;
}
.gb-blue-btn{
	background-color:#009cad;
}
.gb-green-btn{
	background-color:#007e00;
}
.gb-redish-btn{
	background-color:#DA552E;
}
.gb-silver-btn {
	background-color:#dddddd;
	color:#000 !important;
}
.gb-silver-btn,
.gb-light-blue-btn,
.gb-blue-btn,
.gb-green-btn,
.gb-redish-btn{
	display:block;
	display: inline-block;
	*display: inline;
	text-align: center;
	margin: 5px 5px 2px 5px;
	*margin-left: .3em;
	vertical-align:middle;
	color: #000;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	cursor: pointer;
}
.gb-blue-btn:hover {
	background-color:#007d8a;
}
.gb-light-blue-btn:hover {
	background-color:#1a51a5;
}
.gb-green-btn:hover {
	background-color:#005a00;
}
.gb-redish-btn:hover {
	background-color:#983b20;
}
.gb-silver-btn:hover {
	background-color:#bbbbbb;
}


.gb-group-sidebar,
.gb-group-content {
	background-color: #e9eddc;
}
.gb-group-sidebar {
	float:left;
	margin:0 0 0 0;
	width:20%;
}

.gb-group-header {
	border-bottom: #aaaaaa 1px dotted;
}

.gb-group-content {
	float:left;
	width: 75%;
	margin:0 0 0 0;
	padding:10px 20px 10px 20px;
}
.a1 {
	font-size: 2em;
}

/* --Home CSS */
#main-container {
	/*position: absolute;*/
	top: 56px;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 1000px;
	overflow: hidden;
	background-color: #E1EFF0;
}
/* *** TOP BAR *** */
#topbar {
	position:fixed;
	padding-left: 25px;
	padding-top: 10px;
	left: 0; top:40px;
	width: 100%;
	background-color: #FFFFFF;
	min-width: 960px;
	height: 50px;
	border-bottom: #d7d7d7 ridge 3px ;
}
#gb-topbar-name-title img {
	margin: 3px 0 0 0;
	height: 35px;
	width: 35px;
}
#gb-topbar-name-title p {
	font-weight:bold;
}

#tool-buttons {
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	width: 230px;
}
#topbar-level-name-container {
	position: relative;
	left: 380px;
	right: 330px;
	display: inline-block;
	text-align: center;
}
#topbar-level-name {
	margin-top: 6px;
	display: inline-block;
	font-weight: bold;
}

#topbar-level-type {
	margin-top: 6px;
	margin-left: 15px;
	display: inline-block;
	font-family: "helvetica neue", arial, sans-serif;
}
#gb-home-left-sidebar {
	position: fixed;
	top: 110px; 
  left: 76px;
	bottom: 0;
	width: 200px;
	max-width: 200px;
	z-index: 400;
	background-color: #ffffff;
	border-right: 1px solid #D7D7D7;
	font-size: 12px;
}
#palette-panel.animated {
	-moz-transition: left 0.2s;
	-webkit-transition: left 0.2s;
	-ms-transition: left 0.2s;
	-o-transition: left 0.2s;
	transition: left 0.2s;
}
#palette-panel.concealed {
	left: -225px;
}
#gb-home-left-sidebar-title {
	background-color: #fdfff4;
	right: 5px;
	height: 40px;
	padding: 10px 0 0 0;
	margin: 0 5px 0 5px;
	border-bottom: 1px solid #d7d7d7;
	z-index: 100;
}
#gb-home-left-sidebar-title img {
	margin: 3px 0 0 0;
	height: 35px;
	width: 35px;
}
#gb-home-left-sidebar-title p {
	font-weight:bold;
}
#gb-home-left-sidebar-title .btn {
	margin-top:8px;
	color:#006699;
	font-size:0.9em;
}
#sidebar-selector {
	position: fixed;
	top:110px; left:0;
	bottom: 0;
	width: 75px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #DDE5ED;
	-webkit-box-shadow: #DDD 1px 1px 3px;
	-moz-box-shadow: #2F5344 1px 1px 3px;
	box-shadow: #195085 1px 1px 5px;
	z-index: 410;
}
#sidebar-selector li a {
	border-bottom: #195085 solid 1px;
	display: inline-block;
	height: 60px;
	width: 100%;
	vertical-align: middle;
	padding: 5px 0;
	color: #555555;
	font-size: 12px;
	font-weight: bold;
	font-family: arial, sans-serif;
}
#sidebar-selector li.active a,
#sidebar-selector li a:hover {
	text-decoration: none;
	color: #FFF;
	background-color:#195085;
}
#sidebar-selector .icon {
	width: 32px; height: 32px;
	display: inline-block;
	background: url(../img/sidebar-ss.png) no-repeat;
}
#sidebar-selector .icon.icon-terrain 				{ background-position: -32px 0; }
#sidebar-selector .current .icon.icon-terrain,
#sidebar-selector a:hover .icon.icon-terrain 		{ background-position: -32px -32px; }

#sidebar-selector .icon.icon-items 				{ background-position: -64px 0; }
#sidebar-selector .current .icon.icon-items,
#sidebar-selector a:hover .icon.icon-items 		{ background-position: -64px -32px; }

#sidebar-selector .icon.icon-characters			{ background-position: -96px 0; }
#sidebar-selector .current .icon.icon-characters,
#sidebar-selector a:hover .icon.icon-characters	{ background-position: -96px -32px; }

#sidebar-selector .icon.icon-marketplace			{ background-position: -128px 0; }
#sidebar-selector .current .icon.icon-marketplace,
#sidebar-selector a:hover .icon.icon-marketplace 	{ background-position: -128px -32px; }

#sidebar-selector .icon.icon-scripts 				{ background-position: -160px 0; }
#sidebar-selector .current .icon.icon-scripts,
#sidebar-selector a:hover .icon.icon-scripts 		{ background-position: -160px -32px; }

#sidebar-selector .icon.icon-da-stash 				{ background-position: -192px 0; }
#sidebar-selector .current .icon.icon-da-stash,
#sidebar-selector a:hover .icon.icon-da-stash 		{ background-position: -192px -32px; }

#sidebar-indicator {
	position: fixed;
	left: 66px;
	top: 150px;
	z-index:410;
	overflow: hidden;
	width: 10px;
	height: 20px;
}
#sidebar-indicator.animated {
	-moz-transition: top 0.2s, width 0.2s;
	-webkit-transition: top 0.2s, width 0.2s, left 0.2s;
	-ms-transition: top 0.2s;
	-o-transition: top 0.2s;
	transition: top 0.2s, width 0.2s, left 0.2s;
}
#sidebar-indicator.concealed {
	width: 0;
	left: 102px;
}
#gb-home-left-sidebar-content {
	margin-top:5px;
}
#gb-home-left-sidebar-content h5 {
	padding: 1px 0px 2px 1px;
	margin-bottom: 2px;
	border-bottom:#ccccff solid 1px;
}
#gb-home-left-sidebar-content li h5 a {
	color:#555;
	text-transform:uppercase;
	font-size:0.8em;
	font-weight: 200;
	cursor:pointer;
}
#gb-home-left-sidebar-content ul{
	padding-left:5px;
}
#gb-home-left-sidebar-content ul a{
	color:#111111;
}
#gb-connections-toolbar {
	position: fixed;
	background-color: #E1EFF0;
	left: 90px; top: 110px;
	width: 100px;
	z-index: 50;
	color:#000;
	font-size:0.9em;
}
#toolbar.animated {
	-webkit-transition: opacity .3s, left .3s;
	-moz-transition: opacity .3s, left .3s;
	-o-transition: opacity .3s, left .3s;
	-ms-transition: opacity .3s, left .3s;
	transition: opacity .3s, left .3s;
}
#gb-connections-toolbar-buttons {
	/*background-color: #f4f6fc;
	border: 1px solid #cecece;*
	border-radius: 0 0 5px 5px;*/
	border-top: 5px solid #195085;
	display: block;
	list-style: none;
	margin: 0;
}
#gb-connections-toolbar-buttons .top-heading {
	border-bottom: #195085 groove 1px;
	font-size: 1.25em;
	font-weight: bold;
	color:#195085;
	text-align: center;
	margin-bottom: 10px;
}
#gb-connections-toolbar-buttons li {
	display: block;
}
#gb-connections-toolbar-buttons li a {
	display: block;
	padding-left: 2px;
	margin-top: 1px;
	line-height:20px;
	overflow: hidden;
	border-top: 1px solid transparent;
	border-bottom: 2px solid transparent;
	background-color: #E1EFF0;
}
#gb-connections-toolbar-buttons li.active a {
	color: #000;
	background-color: #FFF;
	border-top: 1px solid #B0B0B0;
	border-bottom: 2px solid #B0B0B0;
}
#gb-connections-toolbar-buttons li a:hover {
	color: #000;
	background-color: #FFF;
	border-top: 1px solid #B0B0B0;
	border-bottom: 2px solid #B0B0B0;
}
#gb-connections-toolbar-buttons li.active a i {
	margin: 1px 0 0 1px;
}

.toolbar-icon {
	background-image: url(../img/tools.png);
	background-repeat: no-repeat;
	width: 25px; height: 25px;
	display: inline-block;
}

#gb-home-middle-container {
	margin-left:169px;
	margin-top:110px;
	min-height:1000px;
	padding:0px 10px 5px 10px;
	bottom: 0; right: 0;
	z-index: -100;
	border-left: #B0B0B0 solid 1px;
	border-right: #C0C0C0 solid 1px;
	background-color: #FFF;
}
#gb-post-input {
	padding: 10px 20px 0px 20px;
	border-top: #999 solid 5px;
	background-color:#FBF9F5;
	-webkit-box-shadow: rgb(0, 0, 0) -1px 1px 3px;
	-moz-box-shadow: rgb(0,0,0) -1px 1px 3px;
	box-shadow: rgb(0, 0, 0) -1px 1px 3px;
}
#gb-post-input textarea {
	border:#444 solid 1px;
	margin-bottom: 0;
}
#gb-post-tab {
	margin-bottom:0px;
	display:inline;
}
#gb-post-tab li a:hover  {
	background-color: transparent; 
}
#gb-post-tab li a img {
	height: 40px;
	width:50px;
}

#gb-post-tab li a img.active {
	height: 40px;
	width:70px;
}
#gb-post-tab li a {
	font-size:0.8em;
	text-align:center;
}
.gb-commitment-post {
	background-color: #F8FAFB;
	padding:0 0 0 0;
	margin-top:20px;
	margin-bottom: 20px;
	border-top: #195085 solid 5px;
	-webkit-box-shadow: #195085 -2px 1px 5px;
	-moz-box-shadow: #195085 -2px 1px 5px;
	box-shadow: #195085 -2px 2px 2px;
}
.gb-commitment-post .gb-top-heading{
	margin:0 0 0 0;
	color: #195085;
	border-bottom: #DDE5ED groove 5px;
	font-size:0.9em;
	font-weight:bold;
}
.gb-heading-left {
	border-bottom-right-radius: 10px;
	padding:2px 10px 2px 5px;
}
.gb-heading-right {
	float:right;
	border-bottom-left-radius: 10px;
	padding:1px 5px 2px 5px;
}
.gb-post-title {
	padding:10px 5px 0 10px;
	height: 40px;
	border-bottom: #d7d7d7 ridge 3px;
}
.gb-post-img {
	height: 35px;
	width:50px
}
.goal-commitment-title {
	padding-top:3px;
	border-bottom: #D0DbD7 solid 1px;
}
.gb-post-content {
	background-color: #FFF;
}
.gb-post-action {
	padding:0 5px 0 5px;
	background-color: #E7EBF2;
	border-left: #D7D7D7 ridge 3px;
}
.gb-post-action li{
	border-bottom: #C7CBD2 solid 1px;
}
.gb-post-action li a{
	font-size:0.8em;
	font-weight:bold;
}
.gb-post-action-indicator {
	padding: 0px 4px 0px 4px;
	height: 75%;
	background-color: #456789;
	color: #FFFFFF;
}
dt img {
	height: 50px;
	width: 55px;
}
#level-editor.animated {
	-moz-transition: left 0.2s;
	-webkit-transition: left 0.2s;
	-ms-transition: left 0.2s;
	-o-transition: left 0.2s;
	transition: left 0.2s;
}

#level-editor > canvas {
	position: fixed;
}

#level-editor #overlay.grid-on {
	background-image: url(../img/grid.png);
}

#level-editor div.editor-layer {
	position: absolute;
	top: 0;
	left: 0;
}

#level-editor > img {
	position: absolute;
	display: none;
	max-width: none;
}
#gb-todos-sidebar {
	margin-bottom: 20px;
	border-top: #0298AB solid 5px;
	-webkit-box-shadow: #0298AB -1px 1px 3px;
	-moz-box-shadow: #0298AB -1px 1px 3px;
	box-shadow: #0298AB -1px 1px 5px;
	background-color: #F2FAFB;

}
#gb-todos-sidebar .gb-top-heading {
	color: #0298AB;
	border-bottom: #FAFEFF groove 5px;
	font-size:1.2em;
	font-weight:bold;
}
#gb-todos-sidebar table {
	font-size:0.8em;
	font-weight:bold;
}
#gb-todos-sidebar img {
	height:15px;
	width: 15px;
}
#gb-leaderboard-sidebar {
	margin-bottom: 20px;
	border-top: #195085 solid 5px;
	-webkit-box-shadow: #0298AB -1px 1px 3px;
	-moz-box-shadow: #0298AB -1px 1px 3px;
	box-shadow: #195085 -1px 1px 5px;
	background-color: #F3F6F9;
}
#gb-leaderboard-sidebar .gb-top-heading {
	color: #002244;
	border-bottom: #FAFEFF groove 5px;
	font-size:1.2em;
	font-weight:bold;
}
#gb-leaderboard-sidebar table {
	font-size:0.8em;
	font-weight:bold;
}
#gb-leaderboard-sidebar img {
	height:15px;
	width: 15px;
}
#gb-connection-members-sidebar {
	margin-bottom: 20px;
	border-top: #983B20 solid 5px;
	background-color:#FAF5F4;
	-webkit-box-shadow: #983B20 -1px 1px 3px;
	-moz-box-shadow: #983B20 -1px 1px 3px;
	box-shadow: #983B20 -1px 1px 3px;
}
p {
	overflow:hidden;
}
#gb-connection-members-sidebar .gb-top-heading{
	border-bottom: #EAD8D2 groove 5px;/*#983B20;*/
}
#gb-connection-members-sidebar .gb-top-heading,
#gb-connection-members-sidebar .gb-top-heading a{
	color:#983B20;
	font-size:1.1em;
	font-weight:bold;
}
#gb-connection-members-sidebar a{
	font-size:0.7em;
	color: #000;
}
#gb-connection-members-sidebar table {
    table-layout:fixed;
		margin-bottom: 0px;
}
#gb-connection-members-sidebar table td.member {
    width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
		padding:2px;
		border: #fff solid 3px;
}
#gb-connection-members-sidebar img{
	height:40px;
	width:40px;
}
#gb-add-more-people {
	margin-bottom: 20px;
	border-top: #2F5344 solid 3px;
	background-color: #FFF;
	-webkit-box-shadow: #2F5344 -1px 1px 3px;
	-moz-box-shadow: #2F5344 -1px 1px 3px;
	box-shadow: #2F5344 -1px 1px 3px;
}
#gb-add-more-people .gb-top-heading {
	color: #2F5344;
	border-bottom: #CFD7D4 groove 3px;
	font-size:0.9em;
	font-weight: bold;
	padding-top:4px;

}
#gb-add-more-people p a {
	color:#001122;
	font-size:0.9em;
}
/*------MODALS-----*/
.modal {
	padding:0 0 0 0!important;
}
.modal-footer {
	border-radius: 0;
}
#gb-create-connection-modal {
	padding: 10px 20px 0px 20px;
	border-top: #095085 solid 5px;
	background-color:#F3F6F9;
	-webkit-box-shadow: rgb(0, 0, 0) -1px 1px 3px;
	-moz-box-shadow: rgb(0,0,0) -1px 1px 3px;
	box-shadow: #195085 -2px 1px 3px;
}
#gb-create-connection-modal .gb-top-heading {
	margin:0 0 0 0;
	background-color:#195085;
	color: #FFF;
	border-bottom: #F3F6F9 groove 5px;
	font-size:1.5em;
	font-weight:bold;
	padding: 0px 5px 2px 10px;
}
#gb-create-connection-modal .modal-footer {
	background-color:#CAD7E3;
}
#gb-add-commitment-modal {
	padding: 10px 20px 0px 20px;
	border-top: #777 solid 5px;
	background-color:#FBF9F5;
	-webkit-box-shadow: rgb(0, 0, 0) -1px 1px 3px;
	-moz-box-shadow: rgb(0,0,0) -1px 1px 3px;
	box-shadow: rgb(20, 20, 20) -2px 1px 3px;
}
#goal_commitment_begin_date {
	margin-right: 26px;
}
#gb-add-commitment-modal .gb-top-heading {
	margin:0 0 0 0;
	background-color:#777;
	color: #FFF;
	border-bottom: #DDE5ED groove 5px;
	font-size:1.5em;
	font-weight:bold;
	padding: 0px 5px 2px 10px;
}
#gb-add-commitment-modal .modal-footer {
	background-color:#D0D0D0;
}

#gb-add-connection-member-modal {
	border-top: #2F5344 solid 5px;
	background-color: #FFF;
	-webkit-box-shadow: #2F5344 -1px 1px 3px;
	-moz-box-shadow: #2F5344 -1px 1px 3px;
	box-shadow: #2F5344 -2px 1px 3px;
}
#gb-add-connection-member-modal .gb-top-heading {
	color: #FFF;
	background-color: #2F5344;
	border-bottom: #CFD7D4 groove 3px;
	font-size:1.5em;
	font-weight: bold;
	padding: 0px 5px 2px 10px;
}
#gb-add-connection-member-modal .modal-footer {
	background-color: #CFD7D4;
}
/*---BUTTONS ---*/
.gb-btn{
	display:block;
	display: inline-block;
	*display: inline;
	text-align: center;
	*margin-left: .3em;
	vertical-align:middle;
	/* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); */
	cursor: pointer;
	border-style: none;
}
.gb-btn-color-white {
	color:#FFF;
}
.gb-btn-blue-1 {
	background-color: #195085;
	color: #FFFFFF;
}
.gb-btn-blue-1:hover {
	background-color: #0A1F34;
}
.gb-btn-blue-2 {
	background-color: #0298AB;
	color: #FFFFFF;
}
.gb-btn-blue-2:hover {
	background-color: #01789B;
}
.gb-btn-brown-1{
	background-color: #983B20;
	color: #FFFFFF;
}
.gb-btn-brown-1:hover {
	background-color: #652615;
}
.gb-btn-green-1 {
	background-color: #2F5344;
	color: #FFFFFF;
}
.gb-btn-green-1:hover {
	background-color: #1B3128;
}