body {
    font-size: 13px;
    line-height: 18px;
    background-color: #D3D1C4;
}
.gb-hidden {
    visibility:hidden;
}
a{
    text-overflow: ellipsis;
}
.brand {
    padding:0 0 0 0;

}
.gb-white-background {
    background-color: #FFF;
}
body .modal-slim {
    width: 500px; /* desired relative width */
    left: 30%; /* (100%-width)/2 */
    margin-left:auto;
    margin-right:auto; 
}
body .modal-thick {
    width: 900px; /* desired relative width */
    left: 20%; /* (100%-width)/2 */
    margin-left:auto;
    margin-right:auto; 
}
body .modal-extra-thick {
    width: 75%; /* desired relative width */
    left: 12%; /* (100%-width)/2 */
    margin-left:auto;
    margin-right:auto; 
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 0 0;
}
.icon-4 {
    margin: 20px 30% 20px 45%!important;
    transform:scale(4.4,4.4);
    -ms-transform:scale(4.0,4.0); /* IE 9 */
    -moz-transform:scale(4.0,4.0); /* Firefox */
    -webkit-transform:scale(4.0,4.0); /* Safari and Chrome */
    -o-transform:scale(4.0,4.0); /* Opera */
}
.icon-1-5 {
    transform:scale(1.5, 1.5);
    -ms-transform:scale(1.5,1.5); /* IE 9 */
    -moz-transform:scale(1.5,1.5); /* Firefox */
    -webkit-transform:scale(1.5,1.5); /* Safari and Chrome */
    -o-transform:scale(1.5,1.5); /* Opera */
}
.icon-2 {
    transform:scale(2.2, 2.2);
    -ms-transform:scale(2.0,2.0); /* IE 9 */
    -moz-transform:scale(2.0,2.0); /* Firefox */
    -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
    -o-transform:scale(2.0,2.0); /* Opera */
}
.gb-input-large {
    height: 50px !important;
    margin-bottom: 5px !important;
    line-height: 30px !important;
    padding: 10px 10px !important;
    font-size: 18px !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

img {
    width:100%;
    height :100%;
}
.gb-puntos-icon {
    height:20px;
    width :20px;
}
.gb-ellipsis {
    overflow: hidden;
    height: 20px!important;
    text-overflow: ellipsis;
}
.gb-ellipsis a {
    text-overflow: ellipsis;
}
.gb-img-logo-login {
    width:220px;
    height:45px;
    margin:6px 5px 15px 0px;
}
.gb-img-logo {
    width:160px;
    height:32px;
    margin:0px 5px 2px 0px;
}
textarea { 
    resize: none; 
}
a {
    cursor:pointer;
    color:#1C5C76;
}
a:hover {
    color:#427FED;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.3;
}
.tab-content { 
    z-index:51;
    overflow: visible;
}
#gb-site-navbar {
    height:50px;
    overflow: visible;
}
.navbar-inner {
    background-color:#40392F;
    /* background-color:#2c475e;
     background-color: #a4b9cc; */
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}

.navbar .nav{
    padding-top:5px;
    padding-bottom:0px;
}
.navbar .nav > li > a {
    text-shadow: none;
    color:  #fff;
    /* font-weight:bold;
     font-size:1.3em;*/
}
.navbar .nav > li > img {
    height:30px;
    width:40px;
}
/*-----------Login-Register -----*/
.gb-container-fluid {
    margin-top:50px;
}

.rm-row {
    overflow:hidden;
    margin-left:1px;
    margin-right:1px;
    padding:0px;
}
/*LOGIN NAV*/
.gb-login-row {
    background-image:url('../img/login_background.png');
    -webkit-background-size: cover; /*for webKit*/
    -moz-background-size: cover; /*Mozilla*/
    -o-background-size: cover; /*opera*/
    background-size: cover; /*generic*/
    padding:20px 20px 20px 20px;
}
.gb-product-info-box {
    padding:0px 5px 5px 5px;
    border:#f0f0f0 groove 10px;
    background-color: #fff;
    overflow:hidden;
}
.gb-product-info-box li {
    margin-bottom:10px;
    border-bottom:#00b0f0 solid 1px;
}
.gb-login-container {
    padding:0px 5px 5px 5px;
    overflow:hidden;
}
.gb-login-heading {
    margin-bottom:10px;
    border-bottom:#dadada groove 4px;
}

.gb-font-small {
    font-size:1.1em;
}
.gb-font-medium {
    font-size:1.5em;
}
.gb-icon-center {
    margin-top:5px;
}
.gb-login-nav {
    padding:20px 100px 15px 5px;
    margin-bottom:10px;
}
.gb-login-btn {
    margin-top:10px;
    height: 50px;
    line-height: 50px;
    font-size:1.6em!important;
    color: white!important;
}
.gb-light-blue-btn{
    background-color:#2674ec;
}
.gb-blue-btn{
    background-color:#009cad;
}
.gb-green-btn{
    background-color:#007e00;
}
.gb-redish-btn{
    background-color:#DA552E;
}
.gb-silver-btn {
    background-color:#dddddd;
    color:#000 !important;
}
.gb-silver-btn,
.gb-light-blue-btn,
.gb-blue-btn,
.gb-green-btn,
.gb-redish-btn{
    display:block;
    display: inline-block;
    *display: inline;
    text-align: center;
    margin: 5px 5px 2px 5px;
    *margin-left: .3em;
    vertical-align:middle;
    color: #000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
}
.gb-blue-btn:hover {
    background-color:#007d8a;
}
.gb-light-blue-btn:hover {
    background-color:#1a51a5;
}
.gb-green-btn:hover {
    background-color:#005a00;
}
.gb-redish-btn:hover {
    background-color:#983b20;
}
.gb-silver-btn:hover {
    background-color:#bbbbbb;
}


.gb-group-sidebar,
.gb-group-content {
    background-color: #e9eddc;
}
.gb-group-sidebar {
    float:left;
    margin:0 0 0 0;
    width:20%;
}

.gb-group-header {
    border-bottom: #aaaaaa 1px dotted;
}

.gb-group-content {
    float:left;
    width: 75%;
    margin:0 0 0 0;
    padding:10px 20px 10px 20px;
}
.a1 {
    font-size: 2em;
}

/* --Home CSS */
#main-container {
    margin-top: 70px;
    min-width: 1000px;
    overflow: hidden;
}

/******* NAV**/
.gb-navbar {
    margin: 10px 20px 0px 0px;
    height: 40px;
    float: right;
}
.gb-navbar .dropdown {
    float: left;
    margin-right:15px;
}
.gb-navbar .gb-announcements-notifications,
.gb-navbar .gb-messages-notifications,
.gb-navbar .gb-requests-notifications {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    height: 30px;
    width: 50px;
    display: inline-block;
}
.gb-navbar .gb-announcements-notifications:hover,
.gb-navbar .gb-messages-notifications:hover,
.gb-navbar .gb-requests-notifications:hover {
    outline: #CCDDFF solid 5px;
}
.gb-navbar .gb-announcements-notifications {
    background-image: url(../img/announcements_icon.png);
}
.gb-navbar .gb-messages-notifications {
    background-image: url(../img/messages_icon.png);
}
.gb-navbar .gb-requests-notifications {
    background-image: url(../img/requests_icon.png);
}
.gb-navbar .display-number {
    float:right;
    background-color: #E63D25;
    height:15px;
    width:20px;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    opacity: 0.8;
    line-height: 1.0em;
    text-align: center;
}
/* *** TOP BARs *** */
.gb-topbar {
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 100%;
    display: block;
    height: 50px;
    text-indent:5px;
}


.applewrap .col {
    float: left;
    box-sizing: border-box;
    width: 250px;
    height: 150px;
    padding: 16px 7px 6px 22px;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #343434;
    border-right: 1px solid #dadada;
}
.gb-topbar-heading {
    height: 100%;
}
.gb-topbar p {
    font-size: 1.4em;
}
.gb-topbar img {
    height: 100px;
    width: 80%;
    margin:5% 10% 5% 10%;
    float: left;
}



#tool-buttons {
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    width: 230px;
}
#topbar-level-name-container {
    position: relative;
    left: 380px;
    right: 330px;
    display: inline-block;
    text-align: center;
}
#topbar-level-name {
    margin-top: 6px;
    display: inline-block;
    font-weight: bold;
}

#topbar-level-type {
    margin-top: 6px;
    margin-left: 15px;
    display: inline-block;
    font-family: "helvetica neue", arial, sans-serif;
}
#gb-home-left-sidebar {
    position: fixed;
    top: 50px; 
    left: 76px;
    bottom: 0;
    width: 200px;
    max-width: 200px;
    z-index: 400;
    background-color: #ffffff;
    border-right: 1px solid #D7D7D7;
    font-size: 12px;
}
#palette-panel.animated {
    -moz-transition: left 0.2s;
    -webkit-transition: left 0.2s;
    -ms-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;
}
#palette-panel.concealed {
    left: -225px;
}
#gb-home-left-sidebar-title {
    background-color: #fdfff4;
    right: 5px;
    height: 40px;
    padding: 10px 0 0 0;
    margin: 0 5px 0 5px;
    border-bottom: 1px solid #d7d7d7;
    z-index: 100;
}
#gb-home-left-sidebar-title img {
    margin: 3px 0 0 0;
    height: 35px;
    width: 35px;
}
#gb-home-left-sidebar-title p {
    font-weight:bold;
}
#gb-home-left-sidebar-title .btn {
    margin-top:8px;
    color:#006699;
    font-size:0.9em;
}
#sidebar-selector {
    position: fixed;
    top:50px; left:0;
    bottom: 0;
    width: 75px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #C7C4B5; /* #DDE5ED;*/
    -webkit-box-shadow: #DDD 1px 1px 3px;
    -moz-box-shadow: #2F5344 1px 1px 3px;
    box-shadow: #195085 1px 1px 5px;
    z-index: 410;
}
#sidebar-selector li a {
    border-bottom: #195085 solid 1px;
    display: inline-block;
    height: 60px;
    width: 100%;
    vertical-align: middle;
    padding: 5px 0;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: arial, sans-serif;
}
#sidebar-selector li.active a,
#sidebar-selector li a:hover {
    text-decoration: none;
    color: #222;
    background-color:#FFF;
}
#sidebar-selector .icon {
    width: 32px; height: 32px;
    display: inline-block;
    background: url(../img/sidebar-ss.png) no-repeat;
}
#sidebar-selector .icon.icon-terrain 				{ background-position: -32px 0; }
#sidebar-selector .current .icon.icon-terrain,
#sidebar-selector a:hover .icon.icon-terrain 		{ background-position: -32px -32px; }

#sidebar-selector .icon.icon-items 				{ background-position: -64px 0; }
#sidebar-selector .current .icon.icon-items,
#sidebar-selector a:hover .icon.icon-items 		{ background-position: -64px -32px; }

#sidebar-selector .icon.icon-characters			{ background-position: -96px 0; }
#sidebar-selector .current .icon.icon-characters,
#sidebar-selector a:hover .icon.icon-characters	{ background-position: -96px -32px; }

#sidebar-selector .icon.icon-marketplace			{ background-position: -128px 0; }
#sidebar-selector .current .icon.icon-marketplace,
#sidebar-selector a:hover .icon.icon-marketplace 	{ background-position: -128px -32px; }

#sidebar-selector .icon.icon-scripts 				{ background-position: -160px 0; }
#sidebar-selector .current .icon.icon-scripts,
#sidebar-selector a:hover .icon.icon-scripts 		{ background-position: -160px -32px; }

#sidebar-selector .icon.icon-da-stash 				{ background-position: -192px 0; }
#sidebar-selector .current .icon.icon-da-stash,
#sidebar-selector a:hover .icon.icon-da-stash 		{ background-position: -192px -32px; }

#sidebar-indicator {
    position: fixed;
    left: 66px;
    top: 50px;
    z-index:410;
    overflow: hidden;
    width: 10px;
    height: 20px;
}
#sidebar-indicator.animated {
    -moz-transition: top 0.2s, width 0.2s;
    -webkit-transition: top 0.2s, width 0.2s, left 0.2s;
    -ms-transition: top 0.2s;
    -o-transition: top 0.2s;
    transition: top 0.2s, width 0.2s, left 0.2s;
}
#sidebar-indicator.concealed {
    width: 0;
    left: 102px;
}
#gb-home-left-sidebar-content {
    margin-top:5px;
}
#gb-home-left-sidebar-content h5 {
    padding: 1px 0px 2px 1px;
    margin-bottom: 2px;
    border-bottom:#ccccff solid 1px;
}
#gb-home-left-sidebar-content li h5 a {
    color:#555;
    text-transform:uppercase;
    font-size:0.8em;
    font-weight: 200;
    cursor:pointer;
}
#gb-home-left-sidebar-content ul{
    padding-left:5px;
}
#gb-home-left-sidebar-content ul a{
    color:#111111;
}
#gb-right-sidebar {
    margin-top:70px;
    border-left: #888 solid 1px;
    min-height: 1000px;
}
#gb-goaltype-toolbar {
    border: #CCC solid 1px;
    border-radius: 5px;
    background-color: #DDE5ED;
    margin-bottom: 20px;
    z-index: 50;
    color:#000;
    font-size: 1.2em;
    font-weight: bold;
}
#toolbar.animated {
    -webkit-transition: opacity .3s, left .3s;
    -moz-transition: opacity .3s, left .3s;
    -o-transition: opacity .3s, left .3s;
    -ms-transition: opacity .3s, left .3s;
    transition: opacity .3s, left .3s;
}
#gb-goaltype-toolbar-buttons {
    /*background-color: #f4f6fc;
    border: 1px solid #cecece;*
    border-radius: 0 0 5px 5px;*/
    list-style: none;
    margin: 0;
}
#gb-goaltype-toolbar-buttons .top-heading {
    border: #CCC solid 1px;
    font-size: 1.25em;
    font-weight: bold;
    color:#195085;
    text-align: center;
}
#gb-goaltype-toolbar-buttons li {
    display: block;
    height: 32px;
    border-bottom: 1px solid #AAA;
}
#gb-goaltype-toolbar-buttons li a {
    padding-left: 5px;
    line-height: 32px;
    overflow: hidden;
    background-color: #DDE5ED;
}
#gb-goaltype-toolbar-buttons li.active {
    color: #000;
    background-color: #FFF;
}
#gb-goaltype-toolbar-buttons li a:hover {
    color: #000;
    background-color: #FFF;
}
#gb-goaltype-toolbar-buttons li a i {
    margin: 7px 0 0 1px;
    color: #006699;
}

.toolbar-icon {
    background-image: url(../img/tools.png);
    background-repeat: no-repeat;
    width: 25px; height: 25px;
    display: inline-block;
}

/*#gb-home-middle-container {
        border-top: #195085 solid 5px;
        margin-left:169px;
        margin-top:50px;
        min-height:1000px;
        padding:0px 10px 5px 10px;
        bottom: 0; right: 0;
        z-index: -100;
        border-left: #B0B0B0 solid 1px;
        border-right: #C0C0C0 solid 1px;
        background-color: #FFF;
}*/
#gb-post-input {
    padding: 10px 10px 0px 10px;
    border-top: #777 solid 5px;
    border-left: #777 solid 1px;
    border-right: #777 solid 1px;
    border-bottom: #777 solid 1px;
    background-color:#DDD;
    margin-bottom: 20px;
    /*-webkit-box-shadow: rgb(0, 0, 0) -1px 1px 2px;
    -moz-box-shadow: rgb(0,0,0) -1px 1px 2px;
    box-shadow: rgb(0, 0, 0) -1px 1px 2px;*/
}
#gb-post-input textarea {
    border:#555 solid 1px;
    margin-bottom: 0;
}
#gb-post-tab {
    margin-bottom:0px;
    display:inline;
}
#gb-post-tab li a:hover  {
    background-color: transparent; 
}
#gb-post-tab li a img {
    height: 40px;
    width:50px;
}

#gb-post-tab li a img.active {
    height: 40px;
    width:70px;
}
#gb-post-tab li a {
    font-size:1em;
    text-align:center;
}


#gb-connection-cover {
    color: #FFF;
    margin-bottom: 20px;
    height:250px;
    background-color: #195085;
}
#gb-connection-cover img{
    height:150px;
    width:180px;
}
.gb-commitment-post {
    padding:0 0 0 0;
    margin-bottom: 20px;
    overflow:hidden;
    /*-webkit-box-shadow: #195085 -2px 1px 5px;
    -moz-box-shadow: #195085 -2px 1px 5px;
    box-shadow: #195085 -2px 2px 2px;*/
}
.gb-commitment-post .gb-top-heading{
    margin:0 0 0 0;
    color: #195085;
    border-bottom: #DDE5ED groove 3px;
    font-weight:bold;
}
.gb-heading-left {
    border-bottom-right-radius: 10px;
    padding:2px 10px 2px 5px;
}
.gb-heading-right {
    float:right;
    border-bottom-left-radius: 10px;
    padding:1px 5px 2px 5px;
}
.gb-post-title {
    padding:10px 5px 0 10px;
    height: 40px;
    border-bottom: #d7d7d7 ridge 3px;
}
.gb-post-img {
    height: 35px;
    width:50px
}
.goal-commitment-title {
    padding-top:3px;
    border-bottom: #D0DbD7 solid 1px;
}
.gb-post-content {
    background-color: #FFF;
}
.gb-post-action {
    padding:0 5px 0 5px;
    background-color: #E7EBF2;
    border-left: #D7D7D7 ridge 3px;
}
.gb-post-action li{
    border-bottom: #C7CBD2 solid 1px;
}
.gb-post-action li a{
    font-size:1.1em;
    font-weight:bold;
}
.gb-post-action-indicator {
    padding: 0px 4px 0px 4px;
    height: 75%;
    background-color: #456789;
    color: #FFFFFF;
}
dt img {
    height: 50px;
    width: 55px;
}
#level-editor.animated {
    -moz-transition: left 0.2s;
    -webkit-transition: left 0.2s;
    -ms-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;
}
#level-editor > canvas {
    position: fixed;
}
#level-editor #overlay.grid-on {
    background-image: url(../img/grid.png);
}
#level-editor div.editor-layer {
    position: absolute;
    top: 0;
    left: 0;
}
#level-editor > img {
    position: absolute;
    display: none;
    max-width: none;
}
#gb-todos-sidebar {
    margin-bottom: 20px;
    border-top: #0298AB solid 5px;
    border-left: #0298AB solid 1px;
    border-right: #0298AB solid 1px;
    border-bottom: #0298AB solid 1px;
    /*-webkit-box-shadow: #0298AB -1px 1px 2px;
    -moz-box-shadow: #0298AB -1px 1px 2px;
    box-shadow: #0298AB -1px 1px 2px;*/
    background-color: #F2FAFB;

}
#gb-todos-sidebar .gb-top-heading {
    color: #0298AB;
    border-bottom: #FAFEFF groove 5px;
    font-size:1.2em;
    font-weight:bold;
}
table td > div.one-line{
    overflow: hidden;
    height: 20px;
    text-overflow: ellipsis;
}
#gb-todos-sidebar table {
    font-size:0.9em;
    font-weight:bold;
}
#gb-todos-sidebar table {
    table-layout:fixed;
    margin-bottom: 0px;
}
#gb-todos-sidebar table .by,
#gb-todos-sidebar table .by{
    width: 5%;
    overflow: hidden;
    padding:2px;
    border: #fafeff solid 1px;
}
#gb-todos-sidebar table .task {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:1px;
    border: #fafeff solid 1px;
}
#gb-todos-sidebar table .date {
    width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:1px;
    border: #fafeff solid 1px;
}
#gb-todos-sidebar table .puntos {
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:1px;
    border: #fafeff solid 1px;
}
#gb-todos-sidebar img {
    height:15px;
    width: 15px;
}
#gb-leaderboard-sidebar {
    margin-bottom: 20px;
    border-top: #195085 solid 5px;
    border-left: #195085 solid 1px;
    border-right: #195085 solid 1px;
    border-bottom: #195085 solid 1px;
    /*-webkit-box-shadow: #0298AB -1px 1px 2px;
    -moz-box-shadow: #0298AB -1px 1px 2px;
    box-shadow: #195085 -1px 1px 2px;*/
    background-color: #F3F6F9;
}
#gb-leaderboard-sidebar .gb-top-heading {
    color: #002244;
    border-bottom: #FAFEFF groove 5px;
    font-size:1.2em;
    font-weight:bold;
}
#gb-leaderboard-sidebar table {
    font-size:0.8em;
    font-weight:bold;
}
#gb-leaderboard-sidebar table .pos,
#gb-leaderboard-sidebar table .name,
#gb-leaderboard-sidebar table .puntos{
    overflow: hidden;
    text-overflow: ellipsis;
    padding:1px;
    border: #fafeff solid 1px;
}
#gb-leaderboard-sidebar table .pos{
    width:5%;
}
#gb-leaderboard-sidebar table .name {
    width: 85%
}
a.ellipsis {
    overflow:hidden;
    text-overflow: ellipsis;
}
#gb-leaderboard-sidebar table .puntos{
    width: 10%
}
#gb-leaderboard-sidebar img {
    height:15px;
    width: 15px;
}
#gb-connection-members-sidebar {
    margin-bottom: 20px;
    border-top: #983B20 solid 5px;
    border-left: #983B20 solid 1px;
    border-bottom: #983B20 solid 1px;
    border-right: #983B20 solid 1px;
    background-color:#FAF5F4;
    /*
    -webkit-box-shadow: #983B20 -1px 1px 2px;
    -moz-box-shadow: #983B20 -1px 1px 2px;
    box-shadow: #983B20 -1px 1px 2px;*/
}
p {
    overflow:hidden;
}
#gb-connection-members-sidebar .gb-top-heading{
    border-bottom: #EAD8D2 groove 5px;/*#983B20;*/
}
#gb-connection-members-sidebar .gb-top-heading,
#gb-connection-members-sidebar .gb-top-heading a{
    color:#983B20;
    font-size:1.1em;
    font-weight:bold;
}
#gb-connection-members-sidebar a{
    font-size:0.7em;
    color: #000;
}
#gb-connection-members-sidebar table {
    table-layout:fixed;
    margin-bottom: 0px;
}
#gb-connection-members-sidebar table td.member {
    width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:2px;
    border: #fff solid 3px;
}
#gb-connection-members-sidebar img{
    height:40px;
    width:40px;
}
#gb-add-more-people {
    margin-bottom: 20px;
    border-top: #102E37 solid 5px;
    border-left: #102E37 solid 1px;
    border-bottom: #102E37 solid 1px;
    border-right: #102E37 solid 1px;
    background-color: #F8FAF9;
}
#gb-add-more-people .gb-top-heading {
    margin:0 0 0 0;
    color: #102E37;
    border-bottom: #123456 groove 3px;
    font-weight:bold;
    padding: 0px 5px 2px 5px;
}


a.connections-stat {
    font-size: 0.8em;
    color: #999;
}
/*------MODALS-----*/
.modal {
    padding:0 0 0 0!important;
}
.modal-footer {
    border-radius: 0;
}
#gb-add-connection-member-modal,
#gb-add-weblink-modal,
#gb-request-mentorship-modal,
#gb-view-connection-member-modal,
#gb-add-skill-modal,
#gb-add-skilllist-modal,
#gb-create-connection-modal,
#gb-request-monitors-modal{
    padding: 10px 20px 0px 20px;
    background-color:#FFF;
    -webkit-box-shadow: rgb(0, 0, 0) -1px 1px 3px;
    -moz-box-shadow: rgb(0,0,0) -1px 1px 3px;
    box-shadow: rgb(20, 20, 20) -2px 2px 3px;
}
#gb-add-connection-member-modal h2,
#gb-add-weblink-modal h2,
#gb-request-mentorship-modal h2,
#gb-view-connection-member-modal h2,
#gb-add-skill-modal h2,
#gb-add-skilllist-modal h2,
#gb-create-connection-modal h2 ,
#gb-request-monitors-modal h2{
    padding:10px;
    background-color: #102e37;
    color:#F3F6F9;
}
#gb-add-connection-member-modal .modal-footer,
#gb-add-weblink-modal .modal-footer,
#gb-request-mentorship-modal .modal-footer,
#gb-view-connection-member-modal .modal-footer,
#gb-add-skill-modal .modal-footer,
#gb-add-skilllist-modal .modal-footer,
#gb-create-connection-modal .modal-footer,
#gb-request-monitors-modal .modal-footer{
    background-color:#EEE;
}
#gb-view-connection-member-modal {
}
#gb-view-connection-member-modal .gb-connection-badge {
    display: block;
    height:150px;
    width:30%;
    margin:0 10px 10px 10px;
    float:left;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

#gb-add-commitment-modal {
    padding: 10px 20px 0px 20px;
    border-top: #777 solid 5px;
    background-color:#FBF9F5;
    -webkit-box-shadow: rgb(0, 0, 0) -1px 1px 3px;
    -moz-box-shadow: rgb(0,0,0) -1px 1px 3px;
    box-shadow: rgb(20, 20, 20) -2px 1px 3px;
}
#goal_commitment_begin_date {
    margin-right: 26px;
}
#gb-add-commitment-modal .gb-top-heading {
    margin:0 0 0 0;
    background-color:#777;
    color: #FFF;
    border-bottom: #DDE5ED groove 5px;
    font-size:1.5em;
    font-weight:bold;
    padding: 0px 5px 2px 10px;
}
#gb-add-commitment-modal .modal-footer {
    background-color:#D0D0D0;
}

#gb-add-connection-member-modal {
    border-top: #2F5344 solid 5px;
    background-color: #FFF;
    -webkit-box-shadow: #2F5344 -1px 1px 3px;
    -moz-box-shadow: #2F5344 -1px 1px 3px;
    box-shadow: #2F5344 -2px 1px 3px;
}
#gb-add-connection-member-modal .gb-top-heading {
    color: #FFF;
    background-color: #2F5344;
    border-bottom: #CFD7D4 groove 3px;
    font-size:1.5em;
    font-weight: bold;
    padding: 0px 5px 2px 10px;
}
#gb-add-connection-member-modal .modal-footer {
    background-color: #CFD7D4;
}
#gb-skill-forms-container {
    height: 600px!important;
    padding:20px;
    overflow:hidden;
}
.skill-entry-form{
    min-height: 300px;
    width: 93%!important;
}
/*---PROFILE---*/
#profile-main-container {
    /*position: absolute;*/
    margin-top: 56px;
    margin-left: 70px;
    min-height: 1000px;
    overflow: hidden;
    background-color: #E1EFF0;
}
.gb-stats {
    overflow:hidden;

}
.gb-stats:hover {
    background-color:#f8f8ff;
    color:#456789;
    text-decoration:none;
}
.gb-stats p {
    font-size:0.9em;
}
.gb-stats p, 
.gb-stats h1{
    text-align:center;
    margin:1px;
    padding:1px;
}

#gb-profile-nav {
    height: 40px;
    list-style: none;
    margin-bottom:20px;
}
#gb-profile-nav li {
    float:left;
    height: 100%;
    width: 19.75%;
    margin-right: 2px;
    background-color: #777;
}
#gb-profile-nav li a{
    display: block;
    height: 100%;
    width: 100%;
    color: #FAFAFA;
    line-height: 35px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}
#gb-profile-nav li:hover,
#gb-profile-nav li.active {
    border-top: #509601 solid 5px;
    background-color: #102E37!important;
}
/*-----HOME---------*/
#home-main-container {
    /*position: absolute;*/
    margin-top: 56px;
    margin-left: 70px;
    min-height: 1000px;
    overflow: hidden;

}
#gb-home-header {
    background-color: #195085;
    color: #FFF;
    height: 150px;
}
#gb-home-header img{
    height: 150px;
    width:200px;
}
#gb-home-header .connectiom-info-container {
    height: 150px;
    float:left;
}
#gb-home-header .connectiom-info{
    padding:2px;
    height: 100%;
    /*-webkit-box-shadow: #2F5344 -1px 1px 3px;
    -moz-box-shadow: #2F5344 -1px 1px 3px;
    box-shadow: #2F5344 -1px 1px 3px;*/
}
#gb-home-header .connectiom-info .name{
    height: 25%;
    overflow: hidden;
}

#gb-home-header .connectiom-info .connectiom-description{
    height: 35%;
    font-size: 1.0em;
    font-weight:bold;
    overflow: hidden;
}
#gb-home-header .connectiom-info .connection-members{
    display: block;
    padding:10px 5px 10px 5px;
    background-color: #F8FAfB;
    height: 35%;
    overflow: hidden;
}
.home-menu-box {
    padding:5px;
    height: 150px;
    width:99%;
}
.home-menu-box-2{
    height: 130px;
}
.menu-box-width-1 {
    width:32.3%;
}
.menu-box-width-2 {
    width:65.1%;
}
.home-menu-box,
.home-menu-box-2 {
    margin: 0.5%;
    margin-bottom: 10px;
    float: left;
    background-color: #FFF;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: inset -2px 1px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset -2px 1px 1px rgba(0, 0, 0, .3);
    box-shadow: inset -2px 1px 1px rgba(0, 0, 0, .3);
    overflow:hidden;
    border: #EEE solid 1px;
}
.home-menu-box:hover,
.home-menu-box-2:hover {
    outline: #CCDDFF solid 7px;
    background-color: #EDEFF4;
    text-decoration: none!important;
    color:#111;
}
.home-menu-box-margin-right {
    margin-right: 0.5%;
}

.home-menu-box img {
    float: left;
    height: 90%;
    width: 18%;
    margin: 0 5% 0 5%;
}
.home-menu-box .menu-heading {
    float: left;
    height: 90%;
    width: 70%;
    margin: 1% 0% 5% 0%;
    font-weight: bold;
}
.gb-connection-badge {
    display: block;
    float:left;
    border-right: 1px solid #89A;
    height: 75%;
    width:19.5%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}
.gb-connection-badge:hover{
    background-color: #FFF;
}
.gb-connection-badge h5 {
    color: #006699;
}
.gb-connection-badge img {
    height: 70%;
    width: 80%;
    margin: 2% 10% 2% 10%;
}
#gb-create-connection-btn a,
.gb-connection-badge {
    text-decoration: none!important;
}
.gb-connection-badge .connectiom-description{
    display: block;
    height: 80px;
}


.img-member{
    height: 100% !important;
    width: 50px !important;
    float:left;
    margin-right: 10px;
}
#gb-home-header .user-info .action{
    padding-top:5px;
    padding-bottom:5px;
    height: 13%;
    background-color: #D8DADB;
    overflow: hidden;
}
#gb-home-header .user-info .action .gb-btn{
    display: block;
    text-decoration: none;
    width: 99%;
    line-height:30px;
    height:30px;
    font-size: 1.2em;
    font-weight: bold;
}

#home-activity-stats {
    height:100%;
    border: #095085 solid 5px;
    background-color:#F3F6F9;
}
#home-activity-stats li {
    border-bottom: #789abc solid 1px;
    padding: 10px 5px 2px 5px;
}
#gb-home-nav {
    height:40px;
    border-bottom: #ddd solid 1px;
    margin: 0 0 10px 0;
}
#gb-home-nav a {
    padding-left: 10px;
    float: left;
    margin: 0px;
    font-size: 1.5em;
    line-height: 35px;
    text-decoration: none;
    display: block;
    width: 31.9%;
    height:100%;
    border-bottom: #999 solid 1px;
    border-left: #999 solid 1px;
    border-right: #999 solid 1px;
    background-color: #F5F5F5;
}
#gb-home-nav a:hover,
#gb-home-nav > .gb-active {
    border-bottom: #444 solid 1px;
    border-left: #444 solid 1px;
    border-right: #444 solid 1px;
    background-color: #FFF;
}
#gb-home-nav a i{
    margin-top: 5px;
}
#gb-home-nav a:nth-child(1) {
    border-top: #999 solid 3px;
}
#gb-home-nav a:nth-child(2) {
    border-top: #006633 solid 3px;
}
#gb-home-nav a:nth-child(3) {
    border-top: #102e37 solid 3px;
}
#gb-home-middle-container {
    margin-top: 15px;
    padding:0px 0px 5px 0px;
}


.skill-entry-block {
    height: 250px;
    float: left;
    width: 42%;
    margin: 2%;
    background-color: #E5E5E5;
    outline: #E5E5E5 solid 5px;
    border: #FFF solid 3px;
}
.skill-entry-cover {
    display: block;
    height: 250px;
    float: left;
    width: 43%;
    margin: 2%;
    background-color: #EDEFF4;
    color: #000;
    outline: #EDEFF4 solid 7px;
    border: #FFF solid 4px;
}
.skill-entry-cover:hover {
    outline: #CCDDFF solid 7px;
    background-color: #CCDDFF;
}
.skill-entry-cover img {
    height: 40%;
    width: 40%;
    margin: 10% 30% 10px 30%;
}
.skill-entry-cover .content {
    height: 55%;
    text-align: center;
}
.skill-entry-form {
    height: 100%;
    width: 100%;
}

#gb-home-skill-list {
    margin-bottom: 20px;
    border-top: #A65400 solid 5px;
    border-left: #A65400 solid 1px;
    border-right: #A65400 solid 1px;
    border-bottom: #A65400 solid 1px;
    background-color: #FCFAF7;
    /*-webkit-box-shadow: #A65400 -1px 1px 2px;
    -moz-box-shadow: #A65400 -1px 1px 2px;
    box-shadow: #A65400 -1px 1px 2px;*/
}
#gb-home-skill-list .gb-top-heading {
    color: #A65400;
    border-bottom: #A65400 groove 3px;
    font-weight: bold;
    padding-top:4px;

}
#gb-home-skill-list img {
    height:35px;
    width: 35px;
}
#gb-home-skill-list table {
    table-layout:fixed;
    margin-top:8px;
    margin-bottom: 5px;
}

#gb-home-skill-list table .skill-description{
    overflow: hidden;
    text-overflow: ellipsis;
    padding:2px;
}
#gb-home-skill-list table a{
    font-size: 0.9em;
    font-weight: bold;
}
/*---BUTTONS ---*/

.gb-btn-row-large {
    height: 50px;
}
.gb-btn-row-large input,
.gb-btn-row-large a {
    height: 95%;
    line-height: 25px;
    margin-right: 5px;
}
.gb-btn{
    display:block;
    display: inline-block;
    *display: inline;
    text-align: center;
    *margin-left: .3em;
    vertical-align:middle;
    /* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); */
    cursor: pointer;
    border-style: none;
}
.gb-btn-color-white {
    color:#FFF!important;
}
.gb-btn-grey-1 {
    background-color: #EEE;
    color: #000;
}
.gb-btn-blue-1 {
    background-color: #195085;
    color: #FFFFFF;
}
.gb-btn-blue-1:hover {
    background-color: #0A1F34;
}
.gb-btn-blue-2 {
    background-color: #0298AB;
    color: #FFFFFF;
}
.gb-btn-blue-2:hover {
    background-color: #01789B;
}
.gb-btn-blue-light-1 {
    background-color: #EDEFF4;
}
.gb-btn-blue-light-2 {
    background-color: #C4F9F4;
}
.gb-btn-brown-1{
    background-color: #983B20;
    color: #FFFFFF;
}
.gb-btn-brown-1:hover {
    background-color: #652615;
}
.gb-btn-green-1 {
    background-color: #2F5344;
    color: #FFFFFF;
}
.gb-btn-green-1:hover {
    background-color: #1B3128;
}
.gb-btn-green-light-1 {
    background-color: #C3D69D;
}
.gb-btn-green-light-2 {
    background-color: #EBF1DD;
}
#gb-profile-header {
    background-color: #FFFFFF;
    height: 250px;
}
#gb-profile-header img{
    height: 250px;
    width:100%;
}
#gb-profile-header .user-info-container {
    height: 250px;
    float:left;
    border-left: #777 solid 1px;
}
#gb-profile-header .user-info{
    padding:10px;
    height: 100%;
    background-color: #FFF;
    /*-webkit-box-shadow: #2F5344 -1px 1px 3px;
    -moz-box-shadow: #2F5344 -1px 1px 3px;
    box-shadow: #2F5344 -1px 1px 3px;*/
}
#gb-profile-header .user-info .name{
    height: 15%;
    padding-bottom:5px;
    overflow: hidden;
}

#gb-profile-header .user-info .inspiration-quote{
    height: 25%;
    font-size: 1.0em;
    font-weight:bold;
    overflow: hidden;
}
#gb-profile-header .user-info .stats{
    display: block;
    padding:10px 5px 10px 5px;
    background-color: #F8FAfB;
    height: 33%;
    overflow: hidden;
}
#gb-profile-header .user-info .action{
    padding-top:5px;
    padding-bottom:5px;
    height: 13%;
    background-color: #D8DADB;
    overflow: hidden;
}
#gb-profile-header .user-info .action .gb-btn{
    display: block;
    text-decoration: none;
    width: 99%;
    line-height:30px;
    height:30px;
    font-size: 1.2em;
    font-weight: bold;
}
#gb-profile-sidebar {
    background-color:#FFF;
}
#gb-profile-sidebar .activities-summary {
    height:300px;
    padding: 10px 20px 0px 20px;
    border-top: #195085 solid 5px;
    border-left: #195085 solid 1px;
    border-right: #195085 solid 1px;
    border-bottom: #195085 solid 1px;
    background-color:#F3F6F9;
    /*-webkit-box-shadow: rgb(0, 0, 0) -1px 1px 3px;
    -moz-box-shadow: rgb(0,0,0) -1px 1px 3px;
    box-shadow: #195085 -1px 1px 3px;*/
}
#gb-profile-sidebar .activities-summary li {
    border-bottom: #789abc solid 1px;
    padding: 10px 5px 2px 5px;
}
#gb-profile-middle-container {
    padding:0px 10px 5px 0px;
}
/*---BUTTONS ---*/
.gb-btn{

    display:block;
    display: inline-block;
    *display: inline;
    text-align: center;
    vertical-align:middle;
    /* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); */
    cursor: pointer;
    border-style: none;
    overflow:hidden;
    text-decoration: none;
}
a .gb-btn,
.gb-btn a {
    text-decoration: none!important;
}
.gb-btn-disabled-1 {
    display: block;
    margin-left: 3px!important;
    background-color: #FAFAFA;
    border: 3px solid #DDD;
    color: #AAA!important;
}
a .gb-btn-disabled-1 a {
    color: #AAA!important;
}
.gb-btn-color-white {
    color:#FFF;
}
.gb-btn-blue-1 {
    background-color: #195085;
    color: #FFFFFF;
}
.gb-btn-blue-1:hover {
    background-color: #0A1F34;
}
.gb-btn-blue-2 {
    background-color: #0298AB;
    color: #FFFFFF;
}
.gb-btn-blue-3 {
    background-color: #102E37;
    color:#FFF;
}
.gb-btn-blue-4 {
    background-color: #3b659c;
    color:#FFF;
}
.gb-btn-blue-2:hover {
    background-color: #01789B;
}
.gb-btn-blue-1-light {
    background-color: #C3D2DF;
}
.gb-btn-blue-1-light a {
    color: #195085;
}

.gb-btn-brown-1{
    background-color: #983B20;
    color: #FFFFFF;
}
.gb-btn-brown-1:hover {
    background-color: #652615;
    color: #FFF;
}
.gb-btn-brown-2{
    background-color: #A65400;
    color: #FFFFFF;
}
.gb-btn-brown-2:hover {
    background-color: #652615;
    color: #FFF;
}
.gb-btn-green-1 {
    background-color: #2F5344;
    color: #FFFFFF;
}
.gb-btn-green-1:hover {
    background-color: #1B3128;
}

.gb-btn-green-2 {
    background-color: #09552D;
}
.gb-btn-green-3{
    background-color: #509601;
    color: #FFF;
}
.gb-btn-green-4 {
    background-color: #2F5344;
}
.gb-btn-red-1 {
    background-color: #C75050;
}

.gb-btn-large-1 {
    height: 40px;
    line-height:40px;
    font-size:1.5em;
    font-weight:bold;
    margin-bottom: 20px;
}
/*-----Bordered boxes ----*/
.gb-border-blue-1 {
    background-color: #EDEFF4;
    border: 1px solid;
    border-color: #195085 #195085 #195085;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 66, 99, 0.5) -1px 1px 3px;
    -moz-box-shadow: rgba(0,66,99,0.5) -1px 1px 3px;
    box-shadow: rgba(0, 66, 99, 0.5) -1px 1px 3px;
    border-top: #195085 solid 5px;
}
.gb-border-green-1 {
    background-color: #e8f2e5;
    border: 1px solid;
    border-color: #336633;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 66, 99, 0.5) -1px 1px 3px;
    -moz-box-shadow: rgba(0,66,99,0.5) -1px 1px 3px;
    box-shadow: rgba(0, 66, 99, 0.5) -1px 1px 3px;
    border-top: #336633 solid 5px;
}
.gb-btn-border-blue-1 {
    border-top: 5px solid #195085;
    color: #FFFFFF;
}
.gb-btn-border-blue-1:hover {
    border-top: 5px solid #0A1F34;
}
.gb-btn-border-blue-2 {
    display: block;
    margin-left: 3px!important;
    background-color: #EDEFF4;
    border: 3px solid #195085;
    color: #195085;
}
.gb-btn-border-blue-3 {
    border-top: 5px solid #102E37;
    color:#FFF;
}
.gb-btn-border-blue-3 {
    border: 1px solid #B5C7D8;
    border-top: 3px solid #B5C7D8;
    background-color: #FFF;
    color:#000;
    overflow: hidden;
}
.gb-border-blue-4 {
    border: 1px solid #B5C7D8;
    border-top: 5px solid #B5C7D8;
    background-color: #FFF;
    color:#000;
    overflow: hidden;
}
.gb-shadow-blue-4 {
    -webkit-box-shadow: #2F5344 -1px 1px 3px;
    -moz-box-shadow: #2F5344 -1px 1px 3px;
    box-shadow: #2F5344 -2px 1px 3px;
}
.gb-border-blue-4:hover {
    border: 1px solid #345678;
    border-top: 5px solid #345678;
    background-color: #EDEFF4;
}
.gb-shadow-blue-5 {
    -webkit-box-shadow: #2F5344 0px 1px 1px;
    -moz-box-shadow: #2F5344 0px 1px 1px;
    box-shadow: #2F5344 0px 1px 1px;
}
.gb-btn-white-4 {
    margin-bottom: 10px;
    color:#000;
    overflow: hidden;
    border-top: #aaa solid 1px;
    border-right: #aaa solid 1px;
    background-color: #FFF;
}
.box-2,
.box-3,
.box-4,
.box-6 {
    overflow: hidden;
}
.box-1 {
    height :50px;
    margin-bottom:40px;
}
.box-1-height {
    height :50px;
}
.box-2 {
    height :75px;
    margin-bottom:40px;
}
.box-2-height {
    height :75px;
}
.box-3 {
    height :150px;
    margin-bottom:40px;
}
.box-3-height {
    height :150px;
}

.box-4 {
    height :200px;
    margin-bottom:40px;
}
.box-6 {
    height :300px;
    min-height :300px;
    margin-bottom:40px;
}
.box-4-height {
    height :200px;
}
.box-6-height {
    height :300px;
}
#gb-home-container {
    margin-top:50px;
    min-height:1000px;
    z-index: -100;

}
.heading{
    font-size: 2.0em;
    padding: 15px;
    color: #555;
    background-color: #fff;
    border-bottom: #B5C7D8 solid 1px;
    border-left: #B5C7D8 solid 1px;
    border-right: #B5C7D8 solid 1px;
}
.sub-heading{
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    color: #333;
    background-color: #D8DFEA;
    border-bottom: #BBB solid 1px;
}
.sub-heading-2{
    font-weight: bold;
    font-size: 1.5em;
    padding: 3px;
    color: #333;
    height:38px;
    background-color: #FCFAF7; //#D8DFEA;
    border-bottom: #BBB solid 1px;
}
.sub-heading-3{
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    color: #333;
    background-color: #FAFAFA;
    border-bottom: #CCC solid 1px;
}
.sub-heading-4{
    height:25px;
    font-weight: bold;
    font-size: 1.2em;
    padding: 3px;
    border-bottom: #DDD solid 1px;
}
.sub-heading-5{
    font-weight: bold;
    font-size: 1.5em;
    padding: 3px;
    color: #555;
    height:38px;
    background-color: #EDEFF4; //#D8DFEA;
    border-bottom: #BBB solid 1px;
}
.mentor-badge {
    width:49%;
    border-right: #B5C7D8 solid 1px;
    border-left: #B5C7D8 solid 1px;
}
.gb-footer-btn {
    display: block;
    height:30px;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color:#FFF;
}
.gb-footer-btn a {
    color: #FFF;
}

.gb-mentor-badge {
    width:15%;
}
.gb-footer-blue-1 {
    padding:5px;
    background-color: #CCDDFF;
}

#gb-activity-preview {
    height:250px;

}
.gb-activity {
    border-bottom: #BBB solid 1px;
    margin-bottom:3px;
    height: 40px;
    overflow:hidden;
}
.gb-activity:hover {
    background-color: #FFF;
}
.gb-activity .activity-image img{
    padding:3px;
    height:32px;
    width:32px;
}
.add-connection-member-btn {
    height:100%;
    width: 100%;
    font-size:0.9em;
    color:#FFF;
}

#gb-create-connection-btn {

}
#gb-add-people-box {
    margin-top: 5px;
}

.gb-add-person-badge {
    height: 40px;
    width:100%;
    margin-bottom:5px;
    float:left;
    overflow: hidden;
    background-color: #FFF;
}
.gb-add-person-badge img {
    float:left;
    height:100%;
    width: 15%;
}
.gb-add-person-badge a {
    color: #006699;
    font-weight:bold;
    font-size: 1.1em;
}
.gb-add-person-badge .light a {
    color: #000;
    font-size: 1.3em;
}
.gb-add-person-badge .name {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:5px;
    width: 60%;
    float:left;
}
.gb-add-person-badge .action {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20%;
}

#gb-see-more-suggestion {
    overflow:hidden;
    height: 50%;
    margin-bottom:5px;
}
#gb-see-more-suggestion img{
    height: 28%;
    width: 28%;
    margin:3px;
}
#gb-see-more-suggestion-btn {
    display: block;
    height: 25.5%;
    width:100%;
    float:left;
    text-indent: 20px;
    line-height:70px;
    font-size: 1.7em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gb-goal-type-row {
    width: 32%;
    overflow: hidden;
}
.margin-right-3 {
    margin-right: 1.3%;
}
#gb-create-goal-btn {
    display: block;
    height: 50%;
    width:10%;
    margin:0 10px 10px 0;
    float:left;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}
#gb-create-goal-btn .icon {
    margin: 20px 30% 20px 45%!important;
    transform:scale(4.4,4.4);
    -ms-transform:scale(4.0,4.0); /* IE 9 */
    -moz-transform:scale(4.0,4.0); /* Firefox */
    -webkit-transform:scale(4.0,4.0); /* Safari and Chrome */
    -o-transform:scale(4.0,4.0); /* Opera */
}
.gb-goal-type-row .type-list{
    height: 80px;
}
.gb-goal-type-row .type-list .one-line{
    border-bottom:#bbb solid 1px;
    padding-top:1px;
    padding-bottom:1px;
    text-indent: 5px;
}
.gb-goal-type-row .type-list .one-line:hover {
    background-color:#FFF;
}
.gb-goal-type-row .type-list a{
    color: #006699;
}
.gb-add-person-badge table .avatar {
    width: 15%;
}
.gb-add-person-badge table .name {
    width: 40%;
}
.gb-add-person-badge table .action {
    width: 25%;
}
.gb-full {
    width: 100%;
}
.gb-half {
    width: 45%;
}
/*--------GOAL-------*/
#gb-skill-list-selectors-1 {
    border: #BBB solid 1px;
    height: 250px;
    overflow-y: scroll;
}
.gb-skill-list-selection {
    display: block;
    border-bottom:#BBB solid 1px;
    margin-bottom: 3px;
    height: 20px;
    background-color: #EDEFF4;
    text-indent: 15px;
}
.gb-skill-list-selection:hover {
    background-color: #BBB;
}
.gb-goal-skill-list-row {
    padding:1px;
    width:98%;
    height:20px;
    overflow:hidden;
}
.gb-goal-skill-list-row-big {
    border-bottom: #9CC5C9 solid 1px;
    background-color: #FFF;
    padding:5px;
    margin-bottom:10px;
    width:98%;
    min-height:50px;
}
.gb-goal-skill-list-row:hover {
    background-color: #FFF;
}
.gb-goal-skill-list-row-big:hover {
    background-color: #EDEFF4;
}
.gb-goal-skill-list-row-big a {
    font-size: 1.3em;
    color: #195085;
}
.gb-goal-skill-list-row a {
    display: block;
    font-size: 1.2em;
    text-decoration: none;
    color: #444;
}
.gb-goal-skill-list-row:hover {
    background-color: #EDEFF4;
}
.skill-level {
    background-color: #DDD;
    padding-left: 5px!important;
    padding-right: 5px!important;
    color: #000!important;
    font-size:bold;
    font-size: 0.8em !important;
    text-decoration: none !important;
}
.skill-level :hover{
    border: #FAFCFF solid 1px;
}
.gb-skill-footer {
    width: 100%;
    padding: 3px;
    background-color: #FFF
}
.gb-skill-footer a {
    color: #102E37;
    padding:5px;
    font-size: 1em;
    font-weight:bold;
    text-decoration: none;
    border: #DDD solid 1px;
}
#gb-goal-nav {
    margin: 0 0 20px 0;
    height: 35px;
    list-style: none;
    border-top: #CCC solid 1px;
    border-bottom: #CCC solid 3px;
}
#gb-goal-nav li {
    float:left;
    height: 100%;
    padding: 0 15px 0 15px;
    margin-right:20px;
    border-right: #CCC solid 1px;

}
#gb-goal-nav li a{
    display: block;
    height: 100%;
    width: 100%;
    color: #006699;
    line-height: 40px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
#gb-goal-nav li:hover,
#gb-goal-nav li.active {
    border-bottom: #195085 solid 3px !important;
    background-color: #F5F5F5;
}
.form-grey-1 {
    padding: 5px 10px 5px 10px;
    background-color: #FAFAFA;
    height: 250px;
    border-right: #888 solid 1px;
}
.gb-current-selected {
    color:#333;
    font-size:1.3em;
    font-weight: bold;
}
.gb-level-selection {
    background-color: #EDEFF4;
    border: #BBB solid 1px;
    float:left;
    width:47%;
    height:40px;
    text-align: center;
    font-size: 1.5em;
    line-height: 40px;
    margin:1%;
    cursor: pointer;
}
.gb-level-selection-active,
.gb-level-selection:hover {
    background-color: #BBB;
    border: #888 solid 1px;
}
#skill-level-slider-values div:nth-child(1) {
    background-color: #C55454;
}
#skill-level-slider-values div:nth-child(2) {
    background-color: #F8CBCB;
}
#skill-level-slider-values div:nth-child(4) {
    background-color: #B7E4C5;
}
#skill-level-slider-values div:nth-child(5) {
    background-color: #88A892;
}

/*-------SKILL MANAGEMENT----------*/
.gb-skill-management-container {
    background-color: #FFF;
    padding:5px 2px 2px 2px;
    overflow:hidden;
    min-height: 1000px!important;
    /*-webkit-box-shadow: #195085 -2px 1px 5px;
    -moz-box-shadow: #195085 -2px 1px 5px;
    box-shadow: #195085 -2px 2px 2px;*/
}
.gb-skill-management-container p{
    font-size:1.5em;
}
.gb-skill-management-container h2{
    margin:0 0 0 0;
    color: #195085;
    font-weight:bold;
}
.gb-skill-management-container .title img {
    height: 40px;
    width:50px
}
.goal-commitment-title {
    padding-top:3px;
    border-bottom: #D0DbD7 solid 1px;
}
#gb-skill-management-nav {
    margin: 0 0 20px 0;
    height: 35px;
    list-style: none;
    border-top: #CCC solid 1px;
    border-bottom: #CCC solid 3px;
}
#gb-skill-management-nav li {
    float:left;
    height: 100%;
    width: 20%;
    border-right: #CCC solid 1px;

}
#gb-skill-management-nav li a{
    display: block;
    height: 100%;
    width: 100%;
    color: #006699;
    line-height: 40px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
#gb-skill-management-nav li:hover,
#gb-skill-management-nav li.active {
    border-bottom: #195085 solid 3px !important;
    background-color: #F5F5F5;
}
.gb-skill-type-heading-1 {
    border-bottom: #007d8a solid 1px;
    margin-bottom: 15px;
}
#gb-mentorship-dropdown-btn,
#gb-monitor-dropdown-btn {
    height:50px;
    width:99.5%;
    font-size:2.0em;
    line-height: 45px;
    text-indent:15px;
    text-align: left;
    border-bottom:#DDD solid 2px;
    background-color: #EDEFF4;
}
#gb-mentorship-dropdown-btn i,
#gb-monitor-dropdown-btn i{
    margin-top:15px;
    margin-right:15px;
}
.gb-mentorship-dropdown-menu,
.gb-monitor-dropdown-menu {
    width:99.5%!important;
}
.gb-mentorship-dropdown-menu li,
.gb-monitor-dropdown-menu li{
    display: block;
    height:50px;
    border-bottom:#aaa solid 1px;
}
.gb-mentorship-dropdown-menu li a,
.gb-monitor-dropdown-menu li a{
    display: block;
    font-size:1.8em;
    line-height: 45px;
    text-indent:15px;
    text-align: left;
}
.gb-mentorship-dropdown-menu > li > a:hover,
.gb-monitor-dropdown-menu > li > a:hover, 
.gb-monitor-dropdown-menu > li > a:focus{

    background-image: none;
    background-color: #004050;
    color:#F3F6F9;
}
.gb-skill-management-todos {
    margin-top: 5px;
}
.gb-skill-management-todo {
    border-bottom: #9CC5C9 solid 1px;
    padding:3px;
    width:98%;
    min-height:20px;
    max-height:50px;
}
.gb-skill-management-todo a{
    font-size: 1.1em;
    font-weight:bold
}
.gb-skill-management-todo:hover {
    background-color: #EDEFF4
}


/*---------NOTIFICATIONS------*/
.gb-request-notification-row {
    margin-bottom:2px;
    overflow: hidden;
    background-color: #FFF
}
.gb-request-notification-row img {
    float:left;
    height:45px;
    width: 50px;
    margin: 3px!important;
}
.gb-request-notification-row a {
    font-size: 1.0em;
}
.gb-request-notification-row .light a {
    color: #000;
    font-size: 1.3em;
}
.gb-request-notification-row .name {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:3px;   
    margin-left:5px;
    width: 60%;
    float:left;
}
.gb-request-notification-row .action {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 18%;
    float:left;
}
.gb-request-notification-row .action a{
    height:20px;
    width: 99%;
    border: #999 solid 1px;
    margin-bottom: 3px;
}
#gb-requests-dropdown-menu {
    width:450px!important;
}
#gb-requests-dropdown-menu li{
    display: block;
    width:100%;
    height:70px;
    border-bottom:#aaa solid 1px;
}
#gb-requests-dropdown-menu > li > a:hover, 
#gb-requests-dropdown-menu > li > a:focus{
    background-image: none;
    background-color: #004050;
    color:#EDEFF4;
}
#gb-skill-activity-nav,
#gb-mentorship-sidebar-nav {
    width:25%;
    float:left;
    margin: 0px 20px 10px 0px;
    list-style: none;
    background-color: #EDEFF4;

}
#gb-skill-activity-nav i,
#gb-mentorship-sidebar-nav i{
    margin-top: 12px;
}
#gb-skill-activity-nav li, 
#gb-mentorship-sidebar-nav li {
    height: 40px;
    width: 100%;
    border-bottom: #CCDDFF solid 1px;

}
#gb-skill-activity-nav li a,
#gb-mentorship-sidebar-nav li a{
    display: block;
    height: 100%;
    width: 100%;
    color: #004455;
    line-height: 40px;
    font-size: 1.2em;
    font-weight:bold;
    text-align: left;
    text-indent:10px;
    text-decoration: none;
}
#gb-skill-activity-nav li:hover,
#gb-skill-activity-nav li.active,
#gb-mentorship-sidebar-nav li:hover,
#gb-mentorship-sidebar-nav li.active {
    background-color: #BFD1DB!important;
}
#gb-skill-activity-content {
    float:left;
    width:70%;
}
.gb-skill-management-web-link {
    border-bottom: #9CC5C9 solid 1px;
    padding:3px;
    width:98%;
    min-height:20px;
    max-height:50px;
}
.gb-skill-management-web-link a{
    font-size: 1.1em;
    font-weight:bold
}
.gb-skill-management-web-link:hover {
    background-color: #EDEFF4
}