#gb-navbar {
 border-bottom: #777 solid 4px!important;
}

.navbar-header a strong {
 color:  #777;
}

#gb-navbar-nav a {
 color: #777;
}

#gb-left-nav-3 .gb-link.active{
 border-left: #777 solid 5px;
}

.gb-top-nav-1 {
 border-bottom: #777 solid 2px;
}

.btn-primary {
 background-color: #027887;
}

.btn-primary:hover {
 background-color: #016875;
}

